
.variable {
    color: #9bd5d8;
}

.function {
    color: white;
}

.statement {
    color: #d49cc7;
}

.string {
    color: #9de29d;
}

.number {
    color: orange;
}

.array {
    color: #ffe8a6;
}