
.lessons {
    background: white;
    min-width: 600px;
    width: 90%;
    max-width: 700px;
    overflow: scroll;
    max-height: 95%;
    min-height: 600px;
    padding: 0px;
}

.lessons h1 {
    padding: 30px;
}

.lessons img {
    max-width: 100%;
}

.lessons p {
    padding: 10px 30px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Nunito";
}

.challenge {
    font-weight: bold;
    font-size: 30px !important;
    line-height: 40px !important;
}

.lessons p span {
    padding: 0px 5px;
    background: #000819 !important;
}

.lessons .code {
    display: block;
    background: #000819;
    color: #5d78b3;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    line-height: 30px;
}