
.lessons {
    background: white;
    min-width: 600px;
    width: 90%;
    max-width: 700px;
    overflow: scroll;
    max-height: 95%;
    min-height: 600px;
    padding: 5px;
}

.lessons h1 {
    padding: 30px;
}

.lessons img {
    max-width: 100%;
    padding: 30px 0px;
}

.lessons p {
    padding: 30px;
    font-size: 14px;
    line-height: 30px;
}