@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


html, body, #root, .App {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Press Start 2P";
  background: #9BE6E6;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}